<button class="toggle-player-button">
    <div class="marker {{#if active}}active{{/if}}">
        <i class="fa-regular fa-circle"></i>
        <i class="fa-solid fa-check active-marker"></i>
    </div>
    <span>{{label}}</span>
</button>