<div class="value-dialog-container">
    <prose-mirror class="data-input primary-editor pf2e-bestiary-tracking-editor" name="text" value="{{this.text}}" data-path="{{this.path}}">
        {{{this.enrichedText}}}
    </prose-mirror>
</div>