.bestiary-tracking {
    &.bestiary-settings-menu{
        .menu-category {
            margin-bottom: 8px;
            display: flex;
            flex-direction: column;
            border-style: double;
            border-width: 4px;
            border-color: black;

            legend {
                font-weight: bold;
                text-align: center;

                h4 {
                    margin: 0;
                    color: black;
                    text-shadow: 0 0 black;
                }
            }

            .section-header {
                position: relative;
                align-self: center;

                div {
                    font-weight: bold;
                    font-size: 18px;
                    margin: 4px 0 4px 0;
                }

                i {
                    position: absolute;
                    top: 8px;
                    right: -22px;
                    font-size: 14px;
                }
            }

            .form-group {
                text-wrap: nowrap;

                &.underlined {
                    border-bottom: 1px solid black;
                }
            }
        }
    }
}

// &.sectioned {
//     border-top: 2px solid black;
//     padding-top: 6px;
// }

// &:last-of-type{
//     padding-bottom: 12px;
// }