@import "../colors.less";
@import "../variables.less";

.theme-dark {
    .pf2e-bestiary-tracking {
        &.bestiary-settings-menu{
            .menu-category {
                margin-bottom: 8px;
                display: flex;
                flex-direction: column;
                border-style: double;
                border-width: 4px;
                border-color: @darkBorder;
    
                legend {
                    font-weight: bold;
                    text-align: center;
    
                    h4 {
                        margin: 0;
                        color: @darkBorder;
                        text-shadow: 0 0 @darkBorder;
                    }
                }
    
                .section-header {
                    position: relative;
                    align-self: center;
    
                    div {
                        font-weight: bold;
                        font-size: 18px;
                        margin: 4px 0 4px 0;
                    }
    
                    i {
                        position: absolute;
                        top: 8px;
                        right: -22px;
                        font-size: 14px;
                    }
                }
    
                .form-group {
                    text-wrap: nowrap;
    
                    &.underlined {
                        border-bottom: 1px solid @darkBorder;
                    }
                }
            }
        }
    }
}

.pf2e-bestiary-tracking {
    &.bestiary-settings-menu{
        .menu-category {
            margin-bottom: 8px;
            display: flex;
            flex-direction: column;
            border-style: double;
            border-width: 4px;
            border-color: @lightBorder;

            legend {
                font-weight: bold;
                text-align: center;

                h4 {
                    margin: 0;
                    color: @lightBorder;
                    text-shadow: 0 0 @lightBorder;
                }
            }

            .section-header {
                position: relative;
                align-self: center;

                div {
                    font-weight: bold;
                    font-size: 18px;
                    margin: 4px 0 4px 0;
                }

                i {
                    position: absolute;
                    top: 8px;
                    right: -22px;
                    font-size: 14px;
                }
            }

            .form-group {
                text-wrap: nowrap;

                &.underlined {
                    border-bottom: 1px solid @lightBorder;
                }
            }
        }
    }
}