form {
  &.pf2e-bestiary-tracking.application {
    background-color: var(--pf2e-bestiary-tracking-application);
    background-image: var(--pf2e-bestiary-tracking-application-image);
    background-size: var(--pf2e-bestiary-tracking-application-image-size);
    background-repeat: var(--pf2e-bestiary-tracking-application-image-repeat);

    > header {
      background: var(--pf2e-bestiary-tracking-application-header);

      .header-control {
        background: var(--button-background-color);
      }
    }
  }
}

.pf2e-bestiary-tracking {
  // Containers
  .primary-container,
  input.primary-container {
    background-color: var(--pf2e-bestiary-tracking-primary);
    border-color: var(--pf2e-bestiary-tracking-border);
    color: var(--pf2e-bestiary-tracking-primary-color);

    &.active,
    &.active.empty {
      background-color: var(--pf2e-bestiary-tracking-primary-accent);
    }

    &.empty {
      background-color: var(--pf2e-bestiary-tracking-primary);
    }

    .data-icon {
      filter: var(--pf2e-bestiary-tracking-icon-filter);
    }
  }

  .secondary-container,
  input.secondary-container {
    background-color: var(--pf2e-bestiary-tracking-secondary);
    border-color: var(--pf2e-bestiary-tracking-border);
    color: var(--pf2e-bestiary-tracking-primary-color);
    background-image: var(--pf2e-bestiary-tracking-application-secondary-image);

    .data-icon {
      filter: var(--pf2e-bestiary-tracking-icon-filter);
    }
  }

  .tertiary-container {
    background-color: var(--pf2e-bestiary-tracking-tertiary);
    border-color: var(--pf2e-bestiary-tracking-border);
    color: var(--pf2e-bestiary-tracking-primary-color);

    &.active {
      background-color: var(--pf2e-bestiary-tracking-tertiary-accent);
    }

    .data-icon {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
        brightness(102%) contrast(102%);
    }
  }

  .spell-container {
    &.even {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .primary-outline {
    filter: var(--pf2e-bestiary-tracking-primary-outline);
  }

  // Border Containers
  .primary-border-container {
    border-color: var(--pf2e-bestiary-tracking-border);
  }

  .secondary-border-container {
    border-color: var(--pf2e-bestiary-tracking-secondary-border);
  }

  .main-border-container {
    border-color: var(--pf2e-bestiary-tracking-primary);
  }

  // Hover Containers
  .primary-hover-container {
    cursor: pointer;

    &:hover {
      filter: drop-shadow(0 0 3px var(--pf2e-bestiary-tracking-main-hover));
    }

    &.border {
      border-color: var(--pf2e-bestiary-tracking-primary);
    }
  }

  // Tabs
  .primary-tab {
    &:hover {
      text-shadow: 0 0 5px var(--pf2e-bestiary-tracking-main-hover);
    }

    &.active {
      text-shadow: 0 0 5px var(--pf2e-bestiary-tracking-main-hover);
    }
  }

  // Icons
  .primary-icon {
    color: var(--pf2e-bestiary-tracking-icon);
  }

  .primary-accent-icon {
    color: var(--pf2e-bestiary-tracking-accent-icon);
  }

  // Text
  .primary-text-container {
    color: var(--pf2e-bestiary-tracking-primary-color);
  }

  // Misc

  .bookmark {
    &:hover {
      background-color: var(--pf2e-bestiary-tracking-primary-accent);
    }
  }
}
