.theme-dark .bestiary-tracking.bestiary .right-bookmark-container {
  top: -8px !important;
  height: 100%;
}
.bestiary-tracking {
  overflow-y: visible;
  overflow-x: visible;
}
.bestiary-tracking.bestiary [data-application-part="application"] {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.bestiary-tracking.bestiary .tab {
  height: 100%;
  overflow: hidden;
}
.bestiary-tracking.bestiary .window-content {
  overflow: visible;
  height: calc(100% - 75px);
}
.bestiary-tracking.bestiary .bestiary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  min-height: 32px;
}
.bestiary-tracking.bestiary .bestiary-header .return-container {
  cursor: pointer;
  font-size: 20px;
}
.bestiary-tracking.bestiary .bestiary-header .bestiary-search-container {
  position: relative;
}
.bestiary-tracking.bestiary .bestiary-header .bestiary-search-container input {
  width: 240px;
  padding-left: 26px;
  padding-right: 30px;
}
.bestiary-tracking.bestiary .bestiary-header .bestiary-search-container .search-icon {
  position: absolute;
  left: 8px;
  top: calc(50% - 8px);
  font-size: 16px;
}
.bestiary-tracking.bestiary .bestiary-header .bestiary-search-container .clear-icon {
  position: absolute;
  right: 8px;
  top: calc(50% - 9px);
  font-size: 18px;
}
.bestiary-tracking.bestiary .bestiary-welcome {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.bestiary-tracking.bestiary .bestiary-welcome .title {
  align-self: center;
  font-size: 28px;
}
.bestiary-tracking.bestiary .bestiary-welcome .sub-title {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.bestiary-tracking.bestiary .bestiary-welcome .sub-title div {
  margin-right: 8px;
}
.bestiary-tracking.bestiary .bestiary-welcome .bestiary-reset {
  width: 26px;
  padding: 4px 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bestiary-tracking.bestiary .bestiary-welcome .bestiary-reset i {
  margin-right: 0;
}
.bestiary-tracking.bestiary .bestiary-welcome ul {
  margin-top: 4px;
}
.bestiary-tracking.bestiary .bestiary-tabs {
  gap: 0;
  align-self: end;
}
.bestiary-tracking.bestiary .bestiary-tabs .bestiary-tab {
  background: #f5f5dc;
  border-style: solid;
  border-color: coral;
  border-width: 2px 0 2px 2px;
  padding: 6px;
  font-weight: 600;
}
.bestiary-tracking.bestiary .bestiary-tabs .bestiary-tab.empty {
  opacity: 0.5;
}
.bestiary-tracking.bestiary .bestiary-tabs .bestiary-tab:last-of-type {
  border-right-width: 2px;
}
.bestiary-tracking.bestiary .type-overview-container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 8px;
}
.bestiary-tracking.bestiary .type-overview-container .type-container {
  position: relative;
  display: flex;
  padding: 4px 8px;
  align-items: center;
  font-size: 48px;
  width: calc(50% - 4px);
  border: 3px solid red;
  border-radius: 6px;
  background: #ff7f50;
  cursor: pointer;
}
.bestiary-tracking.bestiary .type-overview-container .type-container:hover :not(.delete-button:hover) {
  background: rgba(255, 127, 80, 0.653);
}
.bestiary-tracking.bestiary .type-overview-container .type-container img {
  height: 150px;
  border-width: 0;
}
.bestiary-tracking.bestiary .type-overview-container .type-container .type-text-container {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 100%;
  text-overflow: ellipsis;
}
.bestiary-tracking.bestiary .type-overview-container .type-container .delete-button {
  position: absolute;
  top: 4px;
  right: 8px;
  font-size: 32px;
  cursor: pointer;
}
.bestiary-tracking.bestiary .type-overview-container .type-container .delete-button:hover {
  filter: drop-shadow(0 0 3px black);
}
.bestiary-tracking.bestiary .monster-container {
  display: flex;
  overflow: auto;
  height: 100%;
  gap: 16px;
}
.bestiary-tracking.bestiary .monster-container .flex-data {
  display: flex;
  align-items: center;
  gap: 0.1875rem;
}
.bestiary-tracking.bestiary .monster-container .flex-value {
  font-weight: bold;
}
.bestiary-tracking.bestiary .monster-container .toggle-container {
  background: red;
  border-radius: 6px;
  padding: 4px;
  cursor: pointer;
  border: 1px solid black;
}
.bestiary-tracking.bestiary .monster-container .toggle-container.revealed {
  background: green;
}
.bestiary-tracking.bestiary .monster-container .toggle-container.misinformation {
  color: lightgrey;
  text-decoration-line: grammar-error;
}
.bestiary-tracking.bestiary .monster-container .monster-data-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
}
.bestiary-tracking.bestiary .monster-container .monster-data-list.no-gap {
  gap: 0;
  font-weight: 500;
}
.bestiary-tracking.bestiary .monster-container .monster-data-list .category-high {
  color: crimson;
}
.bestiary-tracking.bestiary .monster-container .monster-data-list .category-medium {
  color: olivedrab;
}
.bestiary-tracking.bestiary .monster-container .monster-data-list .category-low {
  color: blue;
}
.bestiary-tracking.bestiary .monster-container .left-monster-container {
  width: 150px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.bestiary-tracking.bestiary .monster-container .left-monster-container .monster-image {
  height: 150;
  border-radius: 0.5rem;
}
.bestiary-tracking.bestiary .monster-container .left-monster-container .monster-left-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: #7a7971;
  margin-bottom: 4px;
}
.bestiary-tracking.bestiary .monster-container .left-monster-container .speeds-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}
.bestiary-tracking.bestiary .monster-container .left-monster-container .speeds-container .speed-container {
  padding: 2px;
  border: 1px solid black;
  border-radius: 6px;
  width: calc(50% - 2px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.bestiary-tracking.bestiary .monster-container .left-monster-container .speeds-container .base-colour {
  background: grey;
  color: white;
}
.bestiary-tracking.bestiary .monster-container .left-monster-container .saves-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bestiary-tracking.bestiary .monster-container .left-monster-container .saves-container .save-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bestiary-tracking.bestiary .monster-container .left-monster-container .saves-container .save-container .saves-title {
  font-weight: bold;
  font-size: 14px;
}
.bestiary-tracking.bestiary .monster-container .left-monster-container .saves-container .save-container .saves-value {
  font-size: 16px;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc(100% - 166px);
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .monster-name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .monster-name-container .monster-name {
  position: relative;
  font-weight: bold;
  font-size: 36px;
  padding: 4px 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 100%;
  text-overflow: ellipsis;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .monster-name-container .monster-name.toggle-container {
  width: fit-content;
  padding: 4px 18px;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .monster-name-container .monster-name .ban-icon {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 18px;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .monster-name-container .monster-return-icon {
  cursor: pointer;
  position: absolute;
  right: 9px;
  top: 40px;
  font-size: 30px;
  z-index: 500;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .monster-name-container .monster-return-icon:hover {
  filter: drop-shadow(0 0 3px red);
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .monster-traits-row {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 2px;
  border: 3px solid black;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .monster-traits-row .monster-size {
  flex: 1;
  padding: 4px;
  border: 1px solid black;
  background: var(--color-bg-size);
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .monster-traits-row .monster-traits {
  gap: 4px;
  flex: 5;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .monster-traits-row .monster-traits .monster-trait {
  padding: 4px;
  border: 1px solid black;
  border-radius: 0;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  max-width: 20%;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .monster-traits-row .monster-traits .monster-trait.base-colour {
  background: var(--color-bg-trait);
  color: white;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .right-monster-container-data {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .data-sections {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .data-sections .data-section {
  flex: 1;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .data-section {
  display: flex;
  flex-direction: column;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .data-header {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-bg-trait);
  border-radius: 4px 4px 0 0;
  border: 1px solid black;
  color: white;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .data-header-label {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 8px;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .data-body {
  display: flex;
  flex-direction: column;
  padding: 4px;
  border-width: 0 1px 1px 1px;
  border-color: black;
  border-style: solid;
  border-radius: 0 0 4px 4px;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .data-body .abilities-container {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .data-body .abilities-container .ability-container {
  width: calc(33% - 5px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .data-body .abilities-container .ability-container .ability-label {
  font-weight: bold;
  margin-right: 4px;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .data-body .actions-container {
  display: flex;
  flex-direction: column;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .data-body .actions-container .action-container {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .data-body .actions-container .action-container .action-name {
  cursor: pointer;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .data-body .actions-container .action-container .action-name:hover {
  filter: drop-shadow(0 0 3px red);
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .data-body .actions-container .action-description {
  height: auto;
  max-height: 0;
  transition: max-height 0.5s;
  transition-timing-function: ease-in;
  overflow: hidden;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .data-body .actions-container .action-description.expanded {
  max-height: 500px;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .data-icon {
  width: 16px;
  border: 0;
  filter: drop-shadow(0 0 3px black);
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .attack-container {
  display: flex;
  align-items: center;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .attack-container:not(:last-child) {
  border-bottom: 1px solid black;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .attack-container .attack-inner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .attack-container .attack-header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 8px;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .attack-container .attack-header .attack-traits-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .attack-container .attack-header .attack-traits-container > * {
  flex: 0;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .attack-container .attack-header .attack-traits-container .attack-trait-label {
  text-decoration: underline;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .attack-container .attack-body {
  display: flex;
  align-items: center;
  gap: 4px;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .attack-container .attack-body .attack-variant {
  border: 1px solid black;
  background-color: var(--color-pf-secondary);
  padding: 2px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  font-size: 10px;
  margin-bottom: 4px;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .attack-container .attack-body .attack-damage {
  border: 1px solid black;
  background-color: var(--color-pf-primary);
  padding: 2px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  font-size: 10px;
  margin-bottom: 4px;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .bestiary-notes-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .bestiary-notes-page .bestiary-notes-legend {
  font-size: 14px;
  font-style: italic;
  min-height: 48px;
  overflow: auto;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .bestiary-notes-page .bestiary-notes-legend.private {
  margin-top: 4px;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .bestiary-notes-page .bestiary-notes-legend legend {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
}
.bestiary-tracking.bestiary .monster-container .right-monster-container .bestiary-notes-page .bestiary-notes-legend hr {
  background-image: none;
  background-color: black;
}
.bestiary-tracking.bestiary .right-bookmark-container {
  position: absolute;
  left: -80px;
  top: 36px;
  height: calc(100% - 36px);
  display: flex;
  flex-direction: column;
}
.bestiary-tracking.bestiary .bookmark {
  height: 16px;
  width: 80px;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid;
  border-color: coral;
  margin-bottom: 4px;
  text-shadow: 0 0 black;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5dc;
  color: brown;
  cursor: pointer;
  text-transform: uppercase;
  transition: width 0.5s ease-in-out;
  transition: right 0.5s ease-in-out;
}
.bestiary-tracking.bestiary .bookmark:hover,
.bestiary-tracking.bestiary .bookmark.selected {
  background: #e8e89a;
  width: 100px;
  position: relative;
  right: 20px;
}
.bestiary-tracking.bestiary .bookmark.empty {
  opacity: 0.5;
}
.bestiary-tracking.vague-descriptions-menu .main-setting {
  text-wrap: nowrap;
}
.bestiary-tracking.vague-descriptions-menu .main-setting.sectioned {
  border-top: 2px solid black;
  padding-top: 6px;
}
.bestiary-tracking.vague-descriptions-menu .main-setting:last-of-type {
  padding-bottom: 12px;
}
.pf2e-bestiary-bold {
  font-weight: bold;
}
.pf2e-bestiary-clickable-icon {
  cursor: pointer;
}
.pf2e-bestiary-clickable-icon:hover {
  filter: drop-shadow(0 0 3px red);
}
.pf2e-bestiary-clickable-icon.alternate:hover {
  filter: drop-shadow(0 0 3px grey);
}
.pf2e-bestiary-standard-gap {
  gap: 4px;
}
