.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .spells-tab {
  overflow: auto;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .spells-unknown {
  font-size: 22px;
  font-style: italic;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .spell-section:not(:last-of-type) {
  margin-bottom: 4px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .spell-list-container {
  border-width: 0 1px 1px 1px;
  border-color: black;
  border-style: solid;
  border-radius: 0 0 4px 4px;
  overflow: auto;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .spell-list-container table {
  margin: 0;
  overflow: auto;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .spell-list-container table tbody {
  padding: 0 4px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .spell-list-container .spell-header-row {
  line-height: 10px;
  border-width: 2px;
  border-style: solid;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .spell-list-container .spell-header-row:first-of-type {
  border-top-width: 0;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .spell-list-container .spell-body-row {
  line-height: 10px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .spell-list-container .spell-body-row.description {
  display: none;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .spell-list-container .spell-body-row.description.expanded {
  display: table-row;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .spell-list-container .spell-body-row.description td .spell-description {
  height: auto;
  max-height: 500;
  transition: max-height 0.5s;
  transition-timing-function: ease-in;
  overflow: hidden;
  line-height: normal;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .spell-list-container .spell-body-row.description td .spell-description.expanded {
  max-height: 500px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .spell-list-container .spell-name-cell {
  text-align: left;
  padding: 0 4px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .spell-list-container .spell-name-cell.body {
  margin: 3px 0;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .spell-list-container .spell-name-cell.body .spell-data-container {
  display: flex;
  align-items: center;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .spell-list-container .spell-name-cell.body .spell-data-container .cell-name {
  margin: 0 4px 0 4px;
  font-weight: bold;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .spell-list-container .spell-cell {
  text-align: center;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .spell-list-container .spell-cell.range {
  width: 88px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .spell-list-container .spell-cell.defense {
  width: 150px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .spell-list-container img {
  height: 100%;
  width: 30px;
  padding: 0;
  margin: 0;
  --inset-shadow-length: 0.25rem;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 0 1px var(--tertiary), 0 0 0 2px #9f725b, inset 0 0 var(--inset-shadow-length) rgba(0, 0, 0, 0.5);
}
.theme-dark .pf2e-bestiary-tracking.bestiary .right-bookmark-container {
  top: 0;
  height: 100%;
}
.theme-dark .pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .monster-name-container .monster-return-icon {
  top: 2px;
}
.theme-dark .pf2e-bestiary-tracking.bestiary .monster-container .toggle-container {
  border-color: #ababab;
}
.pf2e-bestiary-tracking {
  overflow-y: visible;
  overflow-x: visible;
}
.pf2e-bestiary-tracking.bestiary [data-application-part="application"] {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.pf2e-bestiary-tracking.bestiary .tab {
  height: 100%;
  overflow: hidden;
}
.pf2e-bestiary-tracking.bestiary .window-content {
  overflow: visible;
  height: calc(100% - 75px);
}
.pf2e-bestiary-tracking.bestiary .bestiary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  min-height: 32px;
}
.pf2e-bestiary-tracking.bestiary .bestiary-header .return-container {
  cursor: pointer;
  font-size: 20px;
}
.pf2e-bestiary-tracking.bestiary .bestiary-header .bestiary-toolbar {
  display: flex;
  align-items: end;
  gap: 8px;
}
.pf2e-bestiary-tracking.bestiary .bestiary-header .bestiary-toolbar .bestiary-layout-settings {
  display: flex;
  gap: 8px;
  border: 1px solid black;
  padding: 2px 8px;
  border-radius: 6px;
}
.pf2e-bestiary-tracking.bestiary .bestiary-header .bestiary-toolbar .bestiary-layout-settings i {
  font-size: 26px;
}
.pf2e-bestiary-tracking.bestiary .bestiary-header .bestiary-toolbar .bestiary-filter-container {
  display: flex;
  padding: 2px;
  border-radius: 6px;
  font-size: 26px;
  height: 31px;
  border-width: 1px;
  border-style: solid;
}
.pf2e-bestiary-tracking.bestiary .bestiary-header .bestiary-toolbar .bestiary-search-container {
  position: relative;
}
.pf2e-bestiary-tracking.bestiary .bestiary-header .bestiary-toolbar .bestiary-search-container input {
  width: 240px;
  padding-left: 26px;
  padding-right: 30px;
}
.pf2e-bestiary-tracking.bestiary .bestiary-header .bestiary-toolbar .bestiary-search-container .search-icon {
  position: absolute;
  left: 8px;
  top: calc(50% - 8px);
  font-size: 16px;
}
.pf2e-bestiary-tracking.bestiary .bestiary-header .bestiary-toolbar .bestiary-search-container .clear-icon {
  position: absolute;
  right: 8px;
  top: calc(50% - 9px);
  font-size: 18px;
}
.pf2e-bestiary-tracking.bestiary .bestiary-main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.pf2e-bestiary-tracking.bestiary .bestiary-main-page .main-page-category-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.pf2e-bestiary-tracking.bestiary .bestiary-main-page .main-page-category-container img {
  height: 200px;
}
.pf2e-bestiary-tracking.bestiary .bestiary-main-page .main-page-category-container .main-page-top-row {
  display: flex;
}
.pf2e-bestiary-tracking.bestiary .bestiary-main-page .main-page-category-container .main-page-bottom-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pf2e-bestiary-tracking.bestiary .bestiary-main-page .main-page-category-container .main-page-category-card {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pf2e-bestiary-tracking.bestiary .bestiary-main-page .main-page-category-container .main-page-category-card .main-page-category-image-container {
  position: relative;
  justify-content: center;
  display: flex;
  border-width: 2px;
  border-style: solid;
}
.pf2e-bestiary-tracking.bestiary .bestiary-main-page .main-page-category-container .main-page-category-card .main-page-category-image-container.inactive {
  opacity: 0.2;
}
.pf2e-bestiary-tracking.bestiary .bestiary-main-page .main-page-category-container .main-page-category-card .main-page-category-image-container .main-page-category-label {
  position: absolute;
  top: 8px;
  width: 80%;
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
  margin: 0;
}
.pf2e-bestiary-tracking.bestiary .bestiary-main-page .main-page-category-container .main-page-category-card .under-development {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 42px);
  font-size: 96px;
  z-index: 5000;
}
.pf2e-bestiary-tracking.bestiary .bestiary-main-page .bestiary-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}
.pf2e-bestiary-tracking.bestiary .bestiary-main-page .bestiary-welcome .title {
  align-self: center;
  font-size: 28px;
}
.pf2e-bestiary-tracking.bestiary .bestiary-main-page .bestiary-welcome .sub-title {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.pf2e-bestiary-tracking.bestiary .bestiary-main-page .bestiary-welcome .sub-title div {
  margin-right: 8px;
}
.pf2e-bestiary-tracking.bestiary .bestiary-main-page .bestiary-welcome ul {
  margin-top: 4px;
}
.pf2e-bestiary-tracking.bestiary .bestiary-tabs {
  gap: 0;
  align-self: end;
}
.pf2e-bestiary-tracking.bestiary .bestiary-tabs .bestiary-tab {
  border-style: solid;
  border-width: 2px 0 2px 2px;
  padding: 6px;
  font-weight: 600;
}
.pf2e-bestiary-tracking.bestiary .bestiary-tabs .bestiary-tab:last-of-type {
  border-right-width: 2px;
}
.pf2e-bestiary-tracking.bestiary .bestiary-fakable-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.pf2e-bestiary-tracking.bestiary .bestiary-left-list {
  padding: 4px 8px 4px 4px;
  border-width: 1px;
  border-style: solid;
}
.pf2e-bestiary-tracking.bestiary .type-overview-container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 8px;
}
.pf2e-bestiary-tracking.bestiary .type-overview-container .type-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 8px 0;
  font-size: 36px;
  width: calc(50% - 4px);
  border-width: 3px;
  border-style: solid;
  border-radius: 6px;
  cursor: pointer;
}
.pf2e-bestiary-tracking.bestiary .type-overview-container .type-container.trio {
  width: calc(33% - 3px);
  font-size: 24px;
}
.pf2e-bestiary-tracking.bestiary .type-overview-container .type-container.trio img {
  height: 125px;
}
.pf2e-bestiary-tracking.bestiary .type-overview-container .type-container.trio .delete-button {
  font-size: 32px;
}
.pf2e-bestiary-tracking.bestiary .type-overview-container .type-container.quarter {
  width: calc(25% - 6px);
  font-size: 18px;
}
.pf2e-bestiary-tracking.bestiary .type-overview-container .type-container.quarter img {
  height: 100px;
}
.pf2e-bestiary-tracking.bestiary .type-overview-container .type-container.quarter .delete-button {
  font-size: 24px;
}
.pf2e-bestiary-tracking.bestiary .type-overview-container .type-container img {
  height: 150px;
  border-width: 0;
}
.pf2e-bestiary-tracking.bestiary .type-overview-container .type-container .type-text-container {
  width: 100%;
  overflow: hidden;
  max-height: 100%;
  text-overflow: ellipsis;
  text-align: center;
}
.pf2e-bestiary-tracking.bestiary .type-overview-container .type-container .delete-button {
  position: absolute;
  top: 4px;
  right: 8px;
  font-size: 48px;
  cursor: pointer;
}
.pf2e-bestiary-tracking.bestiary .type-overview-container .type-container .delete-button:hover {
  filter: drop-shadow(0 0 3px grey);
}
.pf2e-bestiary-tracking.bestiary .monster-container {
  display: flex;
  overflow: auto;
  height: 100%;
  gap: 16px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .data-container {
  border-radius: 6px;
  padding: 4px;
  border-width: 3px;
  border-style: solid;
}
.pf2e-bestiary-tracking.bestiary .monster-container .flex-data {
  display: flex;
  align-items: center;
  gap: 0.1875rem;
}
.pf2e-bestiary-tracking.bestiary .monster-container .flex-value {
  font-weight: bold;
}
.pf2e-bestiary-tracking.bestiary .monster-container .toggle-container {
  cursor: pointer;
}
.pf2e-bestiary-tracking.bestiary .monster-container .toggle-container.inner:not(.revealed) {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .toggle-container:not(.inner):not(.revealed) {
  border-style: dashed;
}
.pf2e-bestiary-tracking.bestiary .monster-container .toggle-container.misinformation {
  text-decoration-line: grammar-error;
}
.pf2e-bestiary-tracking.bestiary .monster-container .monster-data-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .monster-data-list.no-gap {
  gap: 0;
  font-weight: 500;
}
.pf2e-bestiary-tracking.bestiary .monster-container .left-monster-container {
  width: 150px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.pf2e-bestiary-tracking.bestiary .monster-container .left-monster-container .monster-image-container {
  position: relative;
}
.pf2e-bestiary-tracking.bestiary .monster-container .left-monster-container .monster-image-container .monster-image {
  height: 150px;
  border-radius: 0.5rem;
  cursor: pointer;
}
.pf2e-bestiary-tracking.bestiary .monster-container .left-monster-container .monster-image-container .monster-image.token {
  border-width: 0;
}
.pf2e-bestiary-tracking.bestiary .monster-container .left-monster-container .monster-image-container .unlinked-icon {
  position: absolute;
  font-size: 16px;
  top: 0px;
  right: 0px;
  padding: 4px;
  background: black;
  border-radius: 6px;
  color: white;
}
.pf2e-bestiary-tracking.bestiary .monster-container .left-monster-container .monster-left-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pf2e-bestiary-tracking.bestiary .monster-container .left-monster-container .monster-left-data.list-container {
  margin-bottom: 4px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .left-monster-container .monster-left-data .health-icon {
  margin-left: 2px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .left-monster-container .speeds-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .left-monster-container .speeds-container .speed-container {
  padding: 2px;
  border-radius: 6px;
  width: calc(50% - 2px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.pf2e-bestiary-tracking.bestiary .monster-container .left-monster-container .saves-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pf2e-bestiary-tracking.bestiary .monster-container .left-monster-container .saves-container .save-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pf2e-bestiary-tracking.bestiary .monster-container .left-monster-container .saves-container .save-container .saves-title {
  font-weight: bold;
  font-size: 14px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .left-monster-container .saves-container .save-container .saves-value {
  font-size: 16px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .data-icon {
  width: 16px;
  border: 0;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: calc(100% - 166px);
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .monster-name-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 4px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .monster-name-container .monster-name {
  position: relative;
  font-weight: bold;
  font-size: 28px;
  padding: 4px 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 100%;
  text-overflow: ellipsis;
  width: fit-content;
  padding: 4px 18px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .monster-name-container .monster-name .ban-icon {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 18px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .monster-name-container .monster-return-icon {
  cursor: pointer;
  position: absolute;
  right: 9px;
  top: 38px;
  font-size: 24px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .monster-name-container .monster-return-icon:hover {
  filter: drop-shadow(0 0 3px red);
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .monster-traits-row {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 2px;
  border-width: 1px;
  border-style: solid;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .monster-traits-row .monster-size {
  flex: 1;
  padding: 4px;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .monster-traits-row .monster-traits {
  gap: 4px;
  flex: 5;
  overflow: auto;
  flex-wrap: nowrap;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .monster-traits-row .monster-traits .monster-trait {
  padding: 4px;
  border-radius: 0;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  max-width: 25%;
  min-width: 115px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .right-monster-container-data {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 8px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .data-sections {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .data-sections .data-section {
  flex: 1;
  border-radius: 6px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .data-section {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .data-header {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px 4px 0 0;
  border-width: 1px;
  border-style: solid;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .data-header-label {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 8px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .data-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 4px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-radius: 0 0 4px 4px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .data-body .abilities-container {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .data-body .abilities-container .ability-container {
  width: calc(33% - 5px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .data-body .abilities-container .ability-container .ability-label {
  font-weight: bold;
  margin-right: 4px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .data-body .data-chip-container {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .data-body .data-chip-container .data-chip {
  text-wrap: nowrap;
  flex: 0;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .actions-container {
  display: flex;
  flex-direction: column;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .actions-container .action-container {
  display: flex;
  align-items: center;
  gap: 4px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .actions-container .action-container .action-name {
  cursor: pointer;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .actions-container .action-container .action-name:hover {
  filter: drop-shadow(0 0 3px red);
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .actions-container .action-description {
  height: auto;
  max-height: 0;
  transition: max-height 0.5s;
  transition-timing-function: ease-in;
  overflow: hidden;
  line-height: normal;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .actions-container .action-description.expanded {
  max-height: 500px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .attack-traits-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 200;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .attack-traits-container > * {
  flex: 0;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .attack-traits-container .attack-trait-label {
  white-space: nowrap;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .attack-container {
  display: flex;
  align-items: center;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .attack-container:not(:last-child) {
  border-bottom: 1px solid black;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .attack-container .attack-inner-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .attack-container .attack-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
  font-weight: bold;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .attack-container .attack-body {
  display: flex;
  align-items: center;
  gap: 4px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .attack-container .attack-body .attack-variant {
  border-width: 1px;
  border-style: solid;
  padding: 2px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 4px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .attack-container .attack-body .attack-damage {
  border-width: 1px;
  border-style: solid;
  padding: 2px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 4px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .bestiary-notes-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .bestiary-notes-page .bestiary-notes-legend {
  font-size: 14px;
  font-style: italic;
  min-height: 48px;
  overflow: auto;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .bestiary-notes-page .bestiary-notes-legend.private {
  margin-top: 4px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .bestiary-notes-page .bestiary-notes-legend legend {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .bestiary-notes-page .bestiary-notes-legend .editor {
  height: 200px;
}
.pf2e-bestiary-tracking.bestiary .monster-container .right-monster-container .bestiary-notes-page .bestiary-notes-legend hr {
  background-image: none;
  background-color: black;
}
.pf2e-bestiary-tracking.bestiary .right-bookmark-container {
  position: absolute;
  left: -100px;
  top: 36px;
  height: calc(100% - 36px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100px;
  align-items: end;
}
.pf2e-bestiary-tracking.bestiary .bookmark {
  width: 80px;
  font-size: 12px;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 4px;
  height: fit-content;
  text-shadow: 0 0 black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0 4px;
  text-align: center;
  transition: width 0.1s ease-in-out;
}
.pf2e-bestiary-tracking.bestiary .bookmark:hover,
.pf2e-bestiary-tracking.bestiary .bookmark.expanded {
  width: 100%;
}
.theme-dark:not([data-dorako-ui-scope]) .bestiary-settings-menu .tagify {
  border-color: inherit;
  background: inherit;
}
.theme-dark:not([data-dorako-ui-scope]) .bestiary-settings-menu .menu-category legend h4 {
  color: var(--color-light-2);
}
.theme-dark.bestiary-settings-menu .menu-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.theme-dark.bestiary-settings-menu .tagify-header {
  align-self: center;
  margin-bottom: 0;
  color: #ababab;
}
.theme-dark.bestiary-settings-menu tags {
  border-width: 2px;
}
.theme-dark.bestiary-settings-menu .menu-category {
  display: flex;
  flex-direction: column;
  border-style: double;
  border-width: 4px;
  border-color: #ababab;
}
.theme-dark.bestiary-settings-menu .menu-category legend {
  font-weight: bold;
  text-align: center;
}
.theme-dark.bestiary-settings-menu .menu-category legend h4 {
  margin: 0;
  text-shadow: 0 0 #ababab;
}
.theme-dark.bestiary-settings-menu .menu-category .section-header {
  position: relative;
  align-self: center;
}
.theme-dark.bestiary-settings-menu .menu-category .section-header div {
  font-weight: bold;
  font-size: 18px;
  margin: 4px 0 4px 0;
}
.theme-dark.bestiary-settings-menu .menu-category .section-header i {
  position: absolute;
  top: 8px;
  right: -22px;
  font-size: 14px;
}
.theme-dark.bestiary-settings-menu .menu-category .form-group {
  text-wrap: nowrap;
}
.theme-dark.bestiary-settings-menu .menu-category .form-group.underlined {
  border-bottom: 1px solid #ababab;
}
:not([data-dorako-ui-scope]) .tagify {
  border-color: black;
  background: #cfcfcf;
}
.bestiary-settings-menu .menu-category {
  display: flex;
  flex-direction: column;
  border-style: double;
  border-width: 4px;
  border-color: black;
}
.bestiary-settings-menu .menu-category legend {
  font-weight: bold;
  text-align: center;
}
.bestiary-settings-menu .menu-category legend.flexed {
  display: flex;
  align-items: center;
  gap: 4px;
}
.bestiary-settings-menu .menu-category legend h4 {
  margin: 0;
  color: black;
  text-shadow: 0 0 black;
}
.bestiary-settings-menu .menu-category .section-header {
  position: relative;
  align-self: center;
}
.bestiary-settings-menu .menu-category .section-header div {
  font-weight: bold;
  font-size: 18px;
  margin: 4px 0 4px 0;
}
.bestiary-settings-menu .menu-category .section-header i {
  position: absolute;
  top: 8px;
  right: -22px;
  font-size: 14px;
}
.bestiary-settings-menu .menu-category .form-group {
  text-wrap: nowrap;
}
.bestiary-settings-menu .menu-category .form-group.underlined {
  border-bottom: 1px solid black;
}
.pf2e-bestiary-tracking {
  overflow-y: visible;
  overflow-x: visible;
}
.pf2e-bestiary-tracking.saves-handler {
  min-height: 355px;
}
.pf2e-bestiary-tracking.saves-handler .save-dialog-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pf2e-bestiary-tracking.saves-handler .save-dialog-container .new-save-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.pf2e-bestiary-tracking.saves-handler .save-dialog-container .new-save-container .save-dialog-open-button {
  flex: 0;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  gap: 4px;
}
.pf2e-bestiary-tracking.saves-handler .save-dialog-container .new-save-container .save-dialog {
  overflow: hidden;
  transition: max-width 0.5s ease-in-out;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  flex: 1;
}
.pf2e-bestiary-tracking.saves-handler .save-dialog-container .save-slot-container {
  display: flex;
  flex-wrap: wrap;
}
.pf2e-bestiary-tracking.saves-handler .save-dialog-container .save-slot-container legend {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}
.pf2e-bestiary-tracking.saves-handler .save-dialog-container .save-slot-container legend h4 {
  margin-bottom: 0;
}
.pf2e-bestiary-tracking.saves-handler .save-dialog-container .save-slot-container .save-slots-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  flex: 1;
}
.pf2e-bestiary-tracking.saves-handler .save-dialog-container .save-slot-container .save-slots-container .save-slot {
  position: relative;
  height: 200px;
  display: flex;
  padding: 0;
  border-width: 3px;
  border-style: solid;
  border-radius: 6px;
  flex-basis: calc(50% - 2px);
  cursor: pointer;
}
.pf2e-bestiary-tracking.saves-handler .save-dialog-container .save-slot-container .save-slots-container .save-slot:hover {
  filter: drop-shadow(0 0 3px red);
}
.pf2e-bestiary-tracking.saves-handler .save-dialog-container .save-slot-container .save-slots-container .save-slot img {
  flex: 1;
}
.pf2e-bestiary-tracking.saves-handler .save-dialog-container .save-slot-container .save-slots-container .save-slot .save-name {
  position: absolute;
  font-size: 32px;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  padding: 0 31px;
}
.pf2e-bestiary-tracking.saves-handler .save-dialog-container .save-slot-container .save-slots-container .save-slot .save-icon {
  position: absolute;
  top: 7px;
  left: 7px;
  font-size: 20px;
  display: flex;
  gap: 4px;
}
.pf2e-bestiary-tracking.saves-handler .save-dialog-container .folder-disabled {
  opacity: 0.5;
}
/* REMOVE ME. Temporary as a stopgap for Dorako */
.theme-dark .pf2e-bestiary-tracking[data-theme="crb"]:not([data-color-scheme="dark"]).bestiary.application {
  background: url(../../pf2e-dorako-ui/img/background-light.webp);
}
/* REMOVE ME. Temporary as a stopgap for Dorako */
.theme-dark .pf2e-bestiary-tracking.bestiary.application {
  background: rgba(11, 10, 19, 0.9);
}
.theme-dark .pf2e-bestiary-tracking .primary-container {
  background-color: #5e0000;
  border-color: #ababab;
  color: white;
}
.theme-dark .pf2e-bestiary-tracking .primary-container.active,
.theme-dark .pf2e-bestiary-tracking .primary-container.active.empty {
  background-color: #760000;
  opacity: 1;
}
.theme-dark .pf2e-bestiary-tracking .primary-container.empty {
  background-color: #5e0000;
  opacity: 0.6;
}
.theme-dark .pf2e-bestiary-tracking .primary-container .data-icon {
  filter: none;
}
.theme-dark .pf2e-bestiary-tracking .secondary-container {
  background-color: #4b4b8c;
  border-color: #ababab;
  color: white;
}
.theme-dark .pf2e-bestiary-tracking .secondary-container .data-icon {
  filter: none;
}
.theme-dark .pf2e-bestiary-tracking .tertiary-container {
  background-color: #007149;
  border-color: #ababab;
  color: white;
}
.theme-dark .pf2e-bestiary-tracking .tertiary-container.active {
  background-color: #76963f;
}
.theme-dark .pf2e-bestiary-tracking .tertiary-container .data-icon {
  filter: none;
}
.theme-dark .pf2e-bestiary-tracking .spell-container.even {
  background: rgba(255, 255, 255, 0.1);
}
.theme-dark .pf2e-bestiary-tracking .primary-border-container {
  border-color: #ababab;
}
.theme-dark .pf2e-bestiary-tracking .secondary-border-container {
  border-color: gold;
}
.theme-dark .pf2e-bestiary-tracking .main-border-container {
  border-color: #5e0000;
}
.theme-dark .pf2e-bestiary-tracking .bookmark:hover {
  background-color: #760000;
  opacity: 1;
}
.theme-dark .pf2e-bestiary-tracking .primary-hover-container {
  cursor: pointer;
}
.theme-dark .pf2e-bestiary-tracking .primary-hover-container:hover {
  filter: drop-shadow(0 0 3px white);
}
.theme-dark .pf2e-bestiary-tracking .primary-hover-container.border {
  border-color: white;
}
.theme-dark .pf2e-bestiary-tracking .primary-tab:hover {
  text-shadow: 0 0 5px red;
}
.theme-dark .pf2e-bestiary-tracking .primary-tab.active {
  text-shadow: 0 0 5px red;
}
.theme-dark .pf2e-bestiary-tracking .primary-icon {
  color: #f7f3e8;
}
.theme-dark .pf2e-bestiary-tracking .primary-accent-icon {
  color: gold;
}
.pf2e-bestiary-tracking .primary-container {
  background-color: #D4BDAC;
  border-color: black;
  color: black;
}
.pf2e-bestiary-tracking .primary-container.active,
.pf2e-bestiary-tracking .primary-container.active.empty {
  background-color: #FFF1DB;
}
.pf2e-bestiary-tracking .primary-container.empty {
  background-color: #D4BDAC;
}
.pf2e-bestiary-tracking .primary-container .data-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.pf2e-bestiary-tracking .secondary-container {
  background-color: #62b356;
  border-color: black;
  color: black;
}
.pf2e-bestiary-tracking .secondary-container .data-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.pf2e-bestiary-tracking .tertiary-container {
  background-color: #62acce;
  border-color: black;
  color: black;
}
.pf2e-bestiary-tracking .tertiary-container.active {
  background-color: #9de0ff;
}
.pf2e-bestiary-tracking .tertiary-container .data-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.pf2e-bestiary-tracking .spell-container.even {
  background: rgba(0, 0, 0, 0.1);
}
.pf2e-bestiary-tracking .primary-border-container {
  border-color: black;
}
.pf2e-bestiary-tracking .secondary-border-container {
  border-color: #82acff;
}
.pf2e-bestiary-tracking .main-border-container {
  border-color: #D4BDAC;
}
.pf2e-bestiary-tracking .primary-hover-container {
  cursor: pointer;
}
.pf2e-bestiary-tracking .primary-hover-container:hover {
  filter: drop-shadow(0 0 3px #1c8efe);
}
.pf2e-bestiary-tracking .primary-hover-container.border {
  border-color: #D4BDAC;
}
.pf2e-bestiary-tracking .primary-tab:hover {
  text-shadow: 0 0 5px #1c8efe;
}
.pf2e-bestiary-tracking .primary-tab.active {
  text-shadow: 0 0 5px #1c8efe;
}
.pf2e-bestiary-tracking .primary-icon {
  color: black;
}
.pf2e-bestiary-tracking .primary-accent-icon {
  color: gold;
}
.pf2e-bestiary-tracking .bookmark:hover {
  background-color: #FFF1DB;
}
.pf2e-bestiary-bold {
  font-weight: bold;
}
.pf2e-bestiary-clickable-icon {
  cursor: pointer;
}
.pf2e-bestiary-clickable-icon:hover,
.pf2e-bestiary-clickable-icon.selected {
  filter: drop-shadow(0 0 3px red);
}
.pf2e-bestiary-clickable-icon.alternate:hover,
.pf2e-bestiary-clickable-icon.alternate.selected {
  filter: drop-shadow(0 0 3px grey);
}
.pf2e-bestiary-standard-gap {
  gap: 4px;
}
.pf2e-bestiary-misinformation-dialog .editor-container {
  overflow: auto;
}
