@import "./variables.less";
@import "./stylesheets/bestiary.less";
@import "./stylesheets/vagueDescriptionsMenu.less";

.pf2e-bestiary-bold {
    font-weight: bold;
}

.pf2e-bestiary-clickable-icon {
    cursor: pointer;

    &:hover {
        filter: drop-shadow(0 0 3px @mainHover);
    }

    &.alternate:hover {
        filter: drop-shadow(0 0 3px @secondaryHover);
    }
}

.pf2e-bestiary-standard-gap {
    gap: 4px;
}

.pf2e-bestiary-misinformation-dialog {
    .editor-container {
        overflow: auto;
    }
}