/****  Colours  ****/

@bookmark: rgb(245, 245, 220);
@selectedBookmark: rgb(232, 232, 154);
@bookmark-border: coral;
@bookmark-colour: brown;

// Backgrounds
@main: rgb(255, 127, 80);
@mainDark: rgba(255, 127, 80, 0.653);
@tertiary: grey;
@spellRowHeader: rgba(96, 88, 86, 0.25);
@spellRowEven: rgba(120, 100, 82, 0.1);

// Text
@secondaryText: white;

// Category denotation (|High|Medium|Low|)
@categoryHigh: crimson;
@categoryMedium: olivedrab;
@categoryLow: blue;

// Hover
@mainHover: red;
@secondaryHover: grey;

// Borders
@mainBorder: black;
@secondaryBorder: red;


// Toggle colors
@hiddenColor: red;
@revealedColor: green;
@misinformationColor: lightgrey;


/****  Distances  ****/

// Spacing
@titleSpacing: 0.1875rem;